header {
  border-bottom: 2px solid $dark-gray;
  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      padding: 25px 0;

      .cartDiv {
        position: relative;
        .cart {
        }
        .cartNum {
          width: 15px;
          height: 15px;
          display: flex;
          background-color: $orange;
          border-radius: 50%;

          position: absolute;
          top: 11px;
          right: -4px;
          color: white;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
