main {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }

  .aside {
    max-width: 157px;
    width: 100%;

    @media (max-width: 700px) {
      max-width: 100%;
      text-align: center;
    }

    .buttonsMobile {
      display: none;

      @media (max-width: 700px) {
        display: flex;

        margin: 12px 0 35px 0;

        span {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          border: 1px solid $black;

          font-size: 24px;
          font-weight: 400;
          line-height: 32.68px;
          color: $dark-gray;
          padding: 8px 0;
        }
      }
    }

    h2 {
      @media (max-width: 700px) {
        text-align: center;
      }
    }

    .contentAside {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      margin-top: 65px;

      @media (max-width: 700px) {
        display: none;
        text-align: center;
      }

      .colors {
        .contentColors {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;

          row-gap: 10px;
        }
      }

      .sizes {
        .contentSizes {
          margin-top: 15px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 8px;

          span {
            cursor: pointer;
            width: 32px;
            height: 32px;

            border: 1px solid black;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: border 0.5s;
            &:hover {
              border: 2px solid $orange;
            }
          }
        }
      }

      .prices {
        .contentPrices {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;

          row-gap: 10px;
        }
      }
    }
  }

  .centerSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    select {
      @media (max-width: 700px) {
        display: none;
      }
    }

    .centerSideContent {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 42px;

      max-width: 976px;
      width: 100%;

      @media (max-width: 425px) {
        justify-content: space-between;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;

        @media (max-width: 998px) {
          width: 50%;
        }

        @media (max-width: 540px) {
          width: 45%;
        }

        @media (max-width: 375px) {
          width: 100%;
        }

        h4 {
          font-size: 14px;
          font-weight: 400;
          line-height: 19.07px;
          text-transform: uppercase;
          margin: 10px 0;
        }

        .priceCard {
          font-size: 16px;
          font-weight: 700;
          line-height: 21.79px;
        }

        .priceDetailCard {
          font-size: 16px;
          font-weight: 400;
          line-height: 21.79px;
          color: $dark-gray;
          margin: 0 0 14px 0;
        }

        button {
          max-width: 196px;
          width: 100%;
          height: 33px;
          color: white;
          background-color: $black;
          font-size: 14px;
          font-weight: 700;
          line-height: 19.07px;
          border: none;
          transition: transform 0.5s;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .orderMobile,
  .filterMobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;

    .orderMobileHeader,
    .filterMobileHeader {
      border-bottom: 2px solid $light-gray;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 10px 0px;

      height: 54px;
      width: 100%;

      h2 {
        padding-left: 16px;
      }

      span {
        padding-right: 16px;
      }
    }
    .filterMobileContent,
    .orderMobileContent {
      display: flex;
      flex-direction: column;
    }

    .orderMobileContent {
      row-gap: 30px;
      padding: 0px 0px 0px 16px;

      margin-top: 30px;

      span {
        font-size: 22px;
        font-weight: 400;
        line-height: 29.96px;
      }
    }
  }
}
